# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\DELL 7240\Google Drive\Study and Books\IT\CodeGym\IntellIJ\Module3\Lesson11\Java_web_mvc\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
